* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "IranNastaliq";
  src: url("./fonts/IranNastaliq.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "IranNastaliq", sans-serif;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg {
  background-image: url(./3.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgb(184, 201, 228);
  background: linear-gradient(
    0deg,
    rgba(184, 214, 228, 0.1) 0%,
    rgba(184, 218, 228, 0.6) 54%,
    rgba(150, 188, 214, 0.8) 100%
  );
  width: 90%;
  height: 80%;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  animation: slideDown 1s ease-out;
}

p {
  color: rgb(255, 255, 255);
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    1px 1px 0 #000;
  opacity: 0;
  animation: slideIn 1s ease-out forwards;
}

.title {
  font-size: 30px;
  animation-delay: 0.25s;
}

.name {
  font-size: 35px;
  animation-delay: 0.5s;
}

.body {
  font-size: 25px;
  animation-delay: 0.75s;
}
.body2 {
  font-size: 25px;
  animation-delay: 1s;
}
.date {
  font-size: 20px;
  animation-delay: 1.25s;
}

.time {
  font-size: 20px;
  animation-delay: 1.5s;
}

.address {
  font-size: 20px;
  animation-delay: 1.75s;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
